@{
    ViewData["Title"] = "Contact Us";
}

<div class="divContactUs">
  <h1>@ViewData["Title"]</h1>
  <pre>
    Lucky Paw Dog Training
    6803 78th ST SW Lakewood WA 98499

    Lina Shu (SMS/WA: (253) 478-9015
    Or connect to our Facebook: www.facebook.com/linashu223/
    E-Mail: linashu223@gmail.com
  </pre>
</div>