@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Lucky Paw</h1>
    <p>Welcome to Lucky Paw Website, where you can find any information about dog training (from obedience level 1 to level 3) and also we help you to train your dog to become a certified service dog, 
    therapy dog, protection dog, agility dog even hunting dog! Let us know if you have questions or want to know more about us!</p>
</div>
